.container{
    background-color: hsl(200, 100%, 85%);
    height: 100vh;
}


.search{
    display: flex;
    align-items: center;
    overflow: hidden;
    border: solid 1px blue;
    width: fit-content;
    border-radius: 1rem;

    input{
        outline: none;
        border: none;
        background-color: transparent;
    }

    button{
        border: none;
        background-color: blue;
        color: white;
    }
}

