<form class="search" #meteoForm="ngForm" (ngSubmit)="searchMeteoByCity()">
    <input 
        type="text" 
        placeholder="Inserisci località"
        name="city"
        [(ngModel)]="city"
        required>
    <button type="submit">C</button>
</form>

@if(currentMeteo){
    <header>
        <div class="meteo-summary">
            <img [src]="currentMeteo.icon" alt="">
            <span>{{ currentMeteo.temperature }}°C</span>
        </div>
    
        <div class="meteo-details">
            <div class="meteo-detail">
                <div>High</div>
                <div>{{ dailyMeteo[0].maxTemp }}°C</div>
            </div>
    
            <div class="meteo-detail">
                <div>Fl High</div>
                <div>{{ dailyMeteo[0].appMaxTemp }}°C</div>
            </div>
    
            <div class="meteo-detail">
                <div>Wind</div>
                <div>{{ currentMeteo.windSpeed }} km/h</div>
            </div>
    
            <div class="meteo-detail">
                <div>Low</div>
                <div>{{ dailyMeteo[0].minTemp }}°C</div>
            </div>
    
            <div class="meteo-detail">
                <div>Fl Low</div>
                <div>{{ dailyMeteo[0].appMinTemp }}°C</div>
            </div>
    
            <div class="meteo-detail">
                <div>precip</div>
                <div>{{ currentMeteo.precipitation }} mm</div>
            </div>
    
        </div>
    </header>
    
}

<section class="weather-section">
    @for(daily of dailyMeteo; track daily.id){
        <div class="weather-card" (click)="getDayDetails(daily.date)">
            <img [src]="daily.icon" alt="" class="weather-icon">
            <div class="weather-card-day">{{ daily.date | date:"EEE dd"}}</div>
            <div class="weather-card-day">{{ daily.minTemp }}° {{ daily.maxTemp }}°</div>
        </div>
    }
</section>

<table>
    <tbody>
        @for(hour of hourlyMeteo; track hour.id){
            <tr>
                <td>
                    <div class="meteo-detail">
                        <div>{{ hour.date | date: "EEEE"}}</div>
                        <div>{{ hour.date | date: "H:mm"}}</div>
                    </div>
                </td>
                <td>
                    <img [src]="hour.icon" alt="" class="weather-icon">
                </td>
                <td>
                    <div class="meteo-detail">
                        <div>Temp</div>
                        <div>{{ hour.temperature }}°</div>
                    </div>
                </td>
                <td>
                    <div class="meteo-detail">
                        <div>FL Temp</div>
                        <div>{{ hour.appTemperature }}°</div>
                    </div>
                </td>
                <td>
                    <div class="meteo-detail">
                        <div>Wind</div>
                        <div>{{ hour.windSpeed }} km/h</div>
                    </div>
                </td>
                <td>
                    <div class="meteo-detail">
                        <div>Precip</div>
                        <div>{{ hour.precipitation }} mm</div>
                    </div>
                </td>
        }

    </tbody>
</table>