.forecast-daily {
    margin-top: 1.5rem;
  }

  .forecast-daily h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .hourly-scroll {
    display: flex;
    gap: 1rem;
    overflow: hidden;
  }

  .day {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    border-radius: 10px;
    text-align: center;
    flex: 0 0 auto;
    min-width: 60px;
    cursor: pointer;
  }

  .day div {
    margin-top: .3rem;
    text-transform: capitalize;
  }

  .daily-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
  }

  input[type=radio]{
    display: none;

    &:checked + label .day{
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  @media screen and (min-width: 600px) {
    .daily-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 900px) {
    .daily-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

