
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1rem;
  }

  .container {
    max-width: 420px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 1.5rem;
  }

  


