.container{
    background-color: hsl(200, 100%, 85%);
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    .meteo-summary{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: .5rem;
        padding: .5rem;
        border-right: 2px solid hsl(200, 100%, 10%);

        img{
            width: 80px;
            height: 80px;
        }

        span{
            font-size: 2rem;
            margin-left: 1rem;
        }
    }

    .meteo-details{
        display: grid;
        width: 50%;
        justify-content: space-around;
        gap: .5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.meteo-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon{
    width: 40px;
    height: 40px;
}

.weather-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    gap: .5rem;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 3rem;

    .weather-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 1px solid hsl(200, 100%, 10%);
        border-radius: 1rem;
        padding: .25rem;

        .weather-icon{
            margin-bottom: .5rem;
        }

        &-temps{
            font-weight: bold;
        }
    }
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 0;

    tbody{

        tr{
            background-color: hsl(200, 60%, 75%);

            &:nth-child(2n){
                background-color: hsl(200, 60%, 70%);
            }

            td{
                padding: .25rem .5rem;
            }
        }
    }
}

.search{
    display: flex;
    align-items: center;
    overflow: hidden;
    border: solid 1px blue;
    width: fit-content;
    border-radius: 1rem;

    input{
        outline: none;
        border: none;
        background-color: transparent;
    }

    button{
        border: none;
        background-color: blue;
        color: white;
    }
}

.label{
    font-weight: bold;
    font-size: .6rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.data{
    margin-top: .2rem;
}

.unit_label{
    font-size: .8rem;
}