@if(data){
    <body [style.background]="current.background">
        <div class="container">
            <app-search-bar 
            (onSearchCity)="navigateToCity($event)"/>
      
            <app-meteo-header 
            [city]="city"
            [current]="current"/>

            <app-forecast-hourly 
            [date]="selectedDate"
            [hourly]="hourly"/>
    
            <app-forecast-daily 
            [daily]="daily"
            (onEmitDate)="getDayDetails($event)"/>
        </div>
      </body>
    
}
