.location {
    text-align: center;
  }

  .location h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  h1, p{
    text-transform: capitalize;
  }

  .temperature {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0;
  }